<!DOCTYPE html>
<html>

  <head>
    <title>Music</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" th:href="@{../styles/music.css}" />
    <link href="https://fonts.googleapis.com/css2?family=Catamaran:wght@600&family=Crimson+Pro:wght@500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@500;700&display=swap" rel="stylesheet">
  </head>

  <body>
    <h1>Smart Alarm Clock </h1>
    <h2>List of available alarms</h2>
    <table class="center">
      <tr>
        <th>Name</th>
        <th>Active</th>
      </tr>
      <form th:action="@{/process_music}" method="post">
      <tr th:each="p , count: ${listMusic}">
        <td th:text="${p}"></td>
        <td>
          <a>
              <input type="checkbox" name="check" th:value=${count.index}>
          </a>
        </td>
      </tr>
    </table>
        <button type="submit">Save</button>
    </form>
  </body>

</html>