<!DOCTYPE html>
<!-- Coding By CodingNepal - youtube.com/codingnepal -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Schedule your alarm clock</title>
    <link rel="stylesheet" th:href="@{../styles/schedule.css}"/>
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@500;700&display=swap" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <header>
      <h4>Smart Alarm Clock</h4>
    </header>
    <div class="wrapper">
      <h1>00:00:00 PM</h1>
    </div>
    <div class="container">
      <form th:action="@{/process_schedule}" method="post">

        <table class="center">
          <header>
            <h2>Choosing your weekdays schedule</h2>      
          <thead>
            <tr>
              <th>Monday</th>
              <th>Tuesday</th>
              <th>Wednesday</th>
              <th>Thursday</th>
              <th>Friday</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <div class="content">
                  <div class="column">
                    <select id="Monday" name="Monday">
                      <option value="Hour" selected disabled hidden>Hour</option>
                    </select>
                  </div>
                  <div class="column">
                    <select id="Monday" name="Monday">
                      <option value="Minute" selected disabled hidden>Minute</option>
                    </select>
                  </div>
                  <div class="column">
                    <select id="Monday" name="Monday">
                      <option value="AM/PM" selected disabled hidden>AM/PM</option>
                    </select>
                  </div>
                </div>
              </td>
              <td>
                <div class="content">
                  <div class="column">
                    <select id="Tuesday" name="Tuesday">
                      <option value="Hour" selected disabled hidden>Hour</option>
                    </select>
                  </div>
                  <div class="column">
                    <select id="Tuesday" name="Tuesday">
                      <option value="Minute" selected disabled hidden>Minute</option>
                    </select>
                  </div>
                  <div class="column">
                    <select id="Tuesday" name="Tuesday">
                      <option value="AM/PM" selected disabled hidden>AM/PM</option>
                    </select>
                  </div>
                </div>
              </td>
              <td>
                <div class="content">
                  <div class="column">
                    <select id="Wednesday" name="Wednesday">
                      <option value="Hour" selected disabled hidden>Hour</option>
                    </select>
                  </div>
                  <div class="column">
                    <select id="Wednesday" name="Wednesday">
                      <option value="Minute" selected disabled hidden>Minute</option>
                    </select>
                  </div>
                  <div class="column">
                    <select id="Wednesday" name="Wednesday">
                      <option value="AM/PM" selected disabled hidden>AM/PM</option>
                    </select>
                  </div>
                </div>
              </td>
              <td>
                <div class="content">
                  <div class="column">
                    <select id="Thursday" name="Thursday">
                      <option value="Hour" selected disabled hidden>Hour</option>
                    </select>
                  </div>
                  <div class="column">
                    <select id="Thursday" name="Thursday">
                      <option value="Minute" selected disabled hidden>Minute</option>
                    </select>
                  </div>
                  <div class="column">
                    <select id="Thursday" name="Thursday">
                      <option value="AM/PM" selected disabled hidden>AM/PM</option>
                    </select>
                  </div>
                </div>
              </td>
              <td>
                <div class="content">
                  <div class="column">
                    <select id="Friday" name="Friday">
                      <option value="Hour" selected disabled hidden>Hour</option>
                    </select>
                  </div>
                  <div class="column">
                    <select id="Friday" name="Friday">
                      <option value="Minute" selected disabled hidden>Minute</option>
                    </select>
                  </div>
                  <div class="column">
                    <select id="Friday" name="Friday">
                      <option value="AM/PM" selected disabled hidden>AM/PM</option>
                    </select>
                  </div>
                </div>
              </td>
            </tr>
          </tbody> 
        </table>

        <table class="center">
          <header>
            <h3>Choosing your weekend schedule</h3>
            <thead>
            <tr>
              <th>Saturday</th>
              <th>Sunday</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <div class="content">
                  <div class="column">
                    <select id="Saturday" name="Saturday">
                      <option value="Hour" selected disabled hidden>Hour</option>
                    </select>
                  </div>
                  <div class="column">
                    <select id="Saturday" name="Saturday">
                      <option value="Minute" selected disabled hidden>Minute</option>
                    </select>
                  </div>
                  <div class="column">
                    <select id="Saturday" name="Saturday">
                      <option value="AM/PM" selected disabled hidden>AM/PM</option>
                    </select>
                  </div>
                </div>
              </td>
              <td>
                <div class="content">
                  <div class="column">
                    <select id="Sunday" name="Sunday">
                      <option value="Hour" selected disabled hidden>Hour</option>
                    </select>
                  </div>
                  <div class="column">
                    <select id="Sunday" name="Sunday">
                      <option value="Minute" selected disabled hidden>Minute</option>
                    </select>
                  </div>
                  <div class="column">
                    <select id="Sunday" name="Sunday">
                      <option value="AM/PM" selected disabled hidden>AM/PM</option>
                    </select>
                  </div>
                </div>
              </td>
          </tbody>
      </table>
      <div class="button-set-alarm1">
        <button type="submit">Set Alarm</button>
      </div>
      
      </form>
    </div>

    <script>
        const currentTime = document.querySelector("h1"),
        content = document.querySelectorAll(".content"),
        selectMenu = document.querySelectorAll("select"),
        setAlarmBtn = document.querySelector("button");

        let alarmTime, isAlarmSet,
        ringtone = new Audio("../alarms/ringtone.mp3");

        for (let i = 12; i > 0; i--) {
            i = i < 10 ? `0${i}` : i;
            let option = `<option value="${i}">${i}</option>`;
            selectMenu[0].firstElementChild.insertAdjacentHTML("afterend", option);
            selectMenu[3].firstElementChild.insertAdjacentHTML("afterend", option);
            selectMenu[6].firstElementChild.insertAdjacentHTML("afterend", option);
            selectMenu[9].firstElementChild.insertAdjacentHTML("afterend", option);
            selectMenu[12].firstElementChild.insertAdjacentHTML("afterend", option);
            selectMenu[15].firstElementChild.insertAdjacentHTML("afterend", option);
            selectMenu[18].firstElementChild.insertAdjacentHTML("afterend", option);

            
        }

        for (let i = 59; i >= 0; i--) {
            i = i < 10 ? `0${i}` : i;
            let option = `<option value="${i}">${i}</option>`;
            selectMenu[1].firstElementChild.insertAdjacentHTML("afterend", option);
            selectMenu[4].firstElementChild.insertAdjacentHTML("afterend", option);
            selectMenu[7].firstElementChild.insertAdjacentHTML("afterend", option);
            selectMenu[10].firstElementChild.insertAdjacentHTML("afterend", option);
            selectMenu[13].firstElementChild.insertAdjacentHTML("afterend", option);
            selectMenu[16].firstElementChild.insertAdjacentHTML("afterend", option);
            selectMenu[19].firstElementChild.insertAdjacentHTML("afterend", option);
        }

        for (let i = 2; i > 0; i--) {
            let ampm = i == 1 ? "AM" : "PM";
            let option = `<option value="${ampm}">${ampm}</option>`;
            selectMenu[2].firstElementChild.insertAdjacentHTML("afterend", option);
            selectMenu[5].firstElementChild.insertAdjacentHTML("afterend", option);
            selectMenu[8].firstElementChild.insertAdjacentHTML("afterend", option);
            selectMenu[11].firstElementChild.insertAdjacentHTML("afterend", option);
            selectMenu[14].firstElementChild.insertAdjacentHTML("afterend", option);
            selectMenu[17].firstElementChild.insertAdjacentHTML("afterend", option);
            selectMenu[20].firstElementChild.insertAdjacentHTML("afterend", option);
        }

        setInterval(() => {
            let date = new Date(),
            h = date.getHours(),
            m = date.getMinutes(),
            s = date.getSeconds(),
            ampm = "AM";
            if(h >= 12) {
                h = h - 12;
                ampm = "PM";
            }
            h = h == 0 ? h = 12 : h;
            h = h < 10 ? "0" + h : h;
            m = m < 10 ? "0" + m : m;
            s = s < 10 ? "0" + s : s;
            currentTime.innerText = `${h}:${m}:${s} ${ampm}`;

            if (alarmTime === `${h}:${m} ${ampm}`) {
                ringtone.play();
                ringtone.loop = true;
            }
        });

    </script>

  </body>
</html>