* {
    padding: 0px;
    margin: 0px;
}

body {
    width: auto;
    height: auto;
    font-family: 'Catamaran', sans-serif;
    background-image: url("../images/clock.png");  
    background-size: cover;
}

h1 {
    margin-top: 5vh;
    letter-spacing: 1.5vw;
    font-family: 'system-ui';
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 2vh;
    font-size: x-large;
    color:aliceblue;
}

table{
    border-radius: 10px;
}
table, th, td {
    border: 1px solid;
    justify-content: center;
}
.center{
    margin-left: auto;
    margin-right: auto;
    background-color:aliceblue;
}
h2 {
    font-family: 'system-ui';
    text-transform: uppercase;
    text-align: center;
    font-size: large;
    color:aliceblue;
  }
